<html>
  <head>
    <title>welcome to page</title>    
  </head>
  <body>
    <div class="container-fluid navcontainer">
      <div class="row navrow"> <!-- start  row 1-->
        <div class="col-md-6 col-sm-6 navcol1"> <!-- start column 1-->
          <div class="row"> <!-- start row 1.a-->

            <div class="col-md-6"> <!-- start column 1.1-->
              <img src="" class="img-thubnail"> 
            </div><!-- end column 1.1-->

            <div class="col-md-6"><!-- start column 1.2-->
              <div class="row">
                <div class="col-md 8">
                    Buddha's birthday is a holiday traditionally celebrated 
                    in most of East Asia to commemorate the birth of the Prince
                     Siddhartha Gautama, later the Gautama Buddha and founder of
                      Buddhism. It is also celebrated in South and Southeast Asia
                       as Vesak which also acknowledges the enlightenment and death
                        of the Buddha.
                </div>
                <div class="col-md-4">
                    Saturday, May 18
                    Buddha's Birthday 2019 in Nepal
                    Date may vary.
                </div>
              </div>
            </div> <!--end column 1.2-->
          </div><!-- end row 1.a-->
        </div><!-- end column 1-->
        <div class="col-md-6"><!-- start column 2-->
          <div class="row"><!-- start row 1.b-->
            <div class="col-md-5">
                Rajneesh, also known as Acharya Rajneesh, Bhagwan Shree Rajneesh, 
                and latterly as Osho, was an Indian spiritual guru, philosopher and
                 the leader of the Rajneesh movement. During his lifetime he was viewed 
                 as a controversial new religious movement leader and mystic
            </div>
            <div class="col-md-6">
              finally i am usha chaudhary. i am a simple small girl with having passion to
              meeting my past lifes...
            </div>
          </div><!-- end row 1.b-->
        </div><!-- end column 2-->

      </div> <!-- end row 1-->     
    </div>
    <div class="container">
      <div class="row content">
          <div class="col-md-6 navcol2">
           
          </div>
          <div class="col-md-3  navcol3"></div> 
          <div class="col-md-3  navcol4"></div> 
          <div class="col-md-3  navcol5"></div> 
          
      </div>
    </div>
    <div class="container">
      <div class="media">
        <img src="../../assets/image/logo.png" class="mr-4 img-thumbnail align-self-center">
        <div class="media-body mt-5">
          <span class="text-success">Rajneesh, also known as Acharya Rajneesh, Bhagwan Shree Rajneesh, 
            and latterly as Osho, was an Indian spiritual guru, philosopher and
             the leader of the Rajneesh movement. During his lifetime he was viewed 
             as a controversial new religious movement leader and mystic</span>
        </div>
      </div>
    </div>
  </body>
</html>
