<!-- Image and text -->
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../../assets/image/bt.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
   UshaChaudhary
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link ml-3" routerLinkActive="active" routerLink="home">Home</a>
      <a class="nav-item nav-link ml-3" routerLinkActive="active" routerLink="test">Image</a>      
      <a class="nav-item nav-link ml-3" routerLinkActive="active" routerLink="table">Tables</a>
      <a class="nav-item nav-link ml-3" routerLinkActive="active" routerLink="form">Form</a>
    </div>
   </div> 

   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<router-outlet></router-outlet>
</div>