<html>
  <head>
    <title>images</title>
  </head>
  <body>
    <!-- <div class="container">      
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="../../assets/image/angular.mp4"></iframe>
          </div>
      
    </div> -->
    <div class="container cbox">
      <div class="row">
        <div class="col-sm-4">
         <div class="card " style="width: 20rem;">
          <img src="../../assets/image/bt.jpg"  alt="">
          <div class="card-body">
            <h2 class="card-title text-success">Butterfly-2</h2>
            <h5 class="card-subtitle text-danger">Butterfly With Flower</h5>
            <p class="text-secondary">
              Butterflies are insects in the macrolepidopteran clade Rhopalocera 
              from the order Lepidoptera, which also includes moths. 
              </p>
              <a class="btn btn-primary" href="https://www.google.com/search?q=butterfly&oq=butter&aqs=chrome.1.69i57j0l5.3802j0j7&sourceid=chrome&ie=UTF-8">Goto Butterly</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header text-primary text-center">Angular</div>
              <img src="../../assets/image/bt.jpg"  alt="">
              <div class="card-body">
                <h2 class="card-title text-success">Butterfly-2</h2>
                <h5 class="card-subtitle text-danger">Butterfly With Flower</h5>
                <p class="text-secondary">
                  Butterflies are insects in the macrolepidopteran clade Rhopalocera 
                  from the order Lepidoptera, which also includes moths. 
                  </p>
                  <a class="btn btn-primary" href="https://www.google.com/search?q=butterfly&oq=butter&aqs=chrome.1.69i57j0l5.3802j0j7&sourceid=chrome&ie=UTF-8">Goto Butterly</a>
              </div>
              <div class="card-footer text-secondary">Nano Times</div>
            </div>
      </div>

      <div class="col-sm-4">
          <div class="card bg-danger">
              <div class="card-header text-white">Angular</div>
                <img src="../../assets/image/bt.jpg"  alt="">
                <div class="card-body">
                  <h2 class="card-title text-success">Butterfly-2</h2>
                  <h5 class="card-subtitle text-warning">Butterfly With Flower</h5>
                  <p class="text-white">
                    Butterflies are insects in the macrolepidopteran clade Rhopalocera 
                    from the order Lepidoptera, which also includes moths. 
                    </p>
                    <a class="btn btn-primary" href="https://www.google.com/search?q=butterfly&oq=butter&aqs=chrome.1.69i57j0l5.3802j0j7&sourceid=chrome&ie=UTF-8">Goto Butterly</a>
                </div>
                <div class="card-footer text-white">Nano Times</div>
              </div>
      </div>

      </div>
    </div>    
  </body>
</html>
