<html>
  <head>
    <title>Usha Chaudhary</title>
  </head>
  <body>
    <div class="container-fluid cbox ">
      <div class="row rbox">
        <div class="col-sm-3 col1"> 
                  
          <img class="img-thumbnail" src="../../assets/image/usha.jpg " >
          <div class="mt-5 text-secondary">
               Namste i am usha chaudhary. I am a simple villeger gill having 
               wishes to meet fantacy world of mine. I am in my bachelor degree.
               Currently i have engage on learning fortend design: Angular.  
               
          </div>
        </div>
        <div class="col-sm-6 col2">

            <div class="media mt-3">
                <img src="../../assets/image/osho.jpg" width="100" height="100" class=" img-thumbnail ">
                <div class="media-body ">
                    <h5 class="mt-1 text-danger">Osho Rajneesh</h5>
                  <span class="text-success ml-3">
                    Rajneesh, also known as Acharya Rajneesh, Bhagwan Shree Rajneesh, 
                    and latterly as Osho, was an Indian spiritual guru, philosopher and
                    the leader of the Rajneesh movement. During his lifetime he was viewed 
                    as a controversial new religious movement leader and mystic
                  </span>
                </div>
              </div>

              <div class="media mt-3">
                  <img src="../../assets/image/buddha.jpg" width="100" height="100" class=" img-thumbnail ">
                  <div class="media-body ">
                      <h5 class="mt-1 text-danger">Buddha</h5>
                    <span class="text-success ml-3">
                        Buddha's birthday is a holiday traditionally celebrated 
                        in most of East Asia to commemorate the birth of the Prince
                        Siddhartha Gautama, later the Gautama Buddha and founder of
                        Buddhism. It is also celebrated in South and Southeast Asia
                        as Vesak which also acknowledges the enlightenment and death
                        of the Buddha.
                    </span>
                  </div>
                </div>

                <div class="media mt-3" >
                    <img src="../../assets/image/meera.jpeg" width="100" height="100" class=" img-thumbnail ">
                    <div class="media-body ">
                        <h5 class="mt-1 text-danger">Meera Bai</h5>
                      <span class="text-success ml-3">
                          Meera, also known as Meera Bai or Mirabai was a Hindu mystic poet
                          of the Bhakti movement. She referred to the Lord, whom she saw as
                          her husband, with different names like Satguru, Prabhu Ji, Girdhar
                          Nagar, Krishna. She even called him the husband of her soul. 
                      </span>
                    </div>
                  </div>
            </div>                 
        
        <div class="col-sm-3 col3">
         <div class="angular">         
           <figure class="figure">
              <img src="../../assets/image/boot.png" class="figure-img img-fluid rounded" width="200" height="80">
              <figcaption class="figure-caption text-center">Bootstrap 4</figcaption>
          </figure>
         </div>
         <div class="bootstrap">
            <figure class="figure float-right">
                <img src="../../assets/image/logo.png" class="figure-img img-fluid rounded" width="200" height="80">
                <figcaption class="figure-caption text-center">Angular 6</figcaption>
            </figure>
         </div>        
      </div>
      </div>
    </div>
  </body>
</html>
