.cbox{
    border: 2px soli ghostwhite;
    margin-top: 100px;
    
}

.rbox{
   background-color: beige;
}

.col1{
border: 2px solid whitesmoke;
}

.col2{
    border: 2px solid whitesmoke;
}

.col3{
    border: 2px solid whitesmoke;
}

